<!DOCTYPE html>
<html>
  <head>
    <title>Packit</title>
  </head>
  <body>
    <h1>Packit</h1>
    <p>
      <ul>
        {% for name in instances -%}
          <li><a href="https://{{ name }}.{{ domain }}/">{{ name }}</a></li>
        {% endfor %}
      </ul>
    </p>
  </body>
</html>

